/*Some colors*/
$white: #ffffff;
$black: #000000;

/* Media queries */
$mobile-widths: "min-width: 320px";
$mobile-widths-only: "max-width: 767px";
$tablet-widths: "min-width: 768px";
$desktop-widths: "min-width: 1024px";
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
